@import colors
@import prefixes
@import 'components/triangle'
body
  margin 0px
  padding 0px
  overflow hidden
.ig
  @import basics
  @import Slope
.ig
  position relative
  left 20px
  font-family Roboto, sans-serif
  h1
    font-size 16px
    margin 0px
    font-weight 700
  h2
    font-size 14px
    color #2
    margin 3px 0px 0px 0px
    font-weight 500
  .slope1
  .slope2
    position absolute
    top 50px
    left 0px
    width 330px
    height 400px
    g.line
      opacity 0.1
      .label
        opacity 0
      &.active
        opacity 1
        .label
          opacity 1
    text
      font-family Roboto, sans-serif
    .labels-x
      .label
        font-weight 500
    h3
      position absolute
      bottom -38px
      font-variant small-caps
      font-size 16px
      left 60px
      width 180px
      font-weight 700
      text-align center
  .slope2
    left 360px
    width 530px
  &.bar-chart-container
    left 0px
  ol.bar-chart
    list-style-type none
    margin 0px
    padding 0px
    width 610px
    li
      padding 0px
      margin 0px
      float left
      width (100% / 7)
      height 400px
      position relative
      .title
        position absolute
        top 380px
        display block
        width 100%
        text-align center
      .bar-nezamestnani
        position absolute
        bottom 30px
        left 16%
        width (100% - 2 * @left)
        background ColorRed
        border-top-right-radius 3px
        border-top-left-radius 3px
        .value
          display block
          width 100%
          text-align center
          font-weight 500
          color white
          margin-top 7px
          span
            font-weight 300
      &:nth-child(1)
        .bar-nezamestnani
          background #003366
      &:nth-child(2)
        .bar-nezamestnani
          background #003366
      &:nth-child(3)
        .bar-nezamestnani
          background #ab0000
      &:nth-child(4)
        .bar-nezamestnani
          background #ab0000
      &:nth-child(5)
        .bar-nezamestnani
          background #ab0000
      &:nth-child(6)
        .bar-nezamestnani
          background #732a38
      &:nth-child(7)
        .bar-nezamestnani
          background #732a38

